{% extends "base.html" %}

{% block title %}Logowanie{% endblock %}

{% block content %}
    <h1>Logowanie</h1>
    {% if form.errors %}
        <p>
            Nazwa użytkownika lub hasło są niepoprawne.
            Spróbuj ponownie.
        </p>
    {% else %}
        <p>
            Wypełnij poniższy formularz, aby się zalogować
        </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p>
                <button type="submit" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cursor-fill" viewBox="0 0 16 16">
                        <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"></path>
                    </svg>
                    Zaloguj się
                </button>
            </p>
        </form>
    </div>
{% endblock %}