{% extends "selcorshop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Produkty{% endif %}
{% endblock %}

{% block content %}

<div class="row">
<div id="sidebar" class="col-2">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      <span class="fs-4">Kategorie</span>
    </a>
    <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li {% if not category %}class="nav-item" {% endif %}>
                <a href="{% url 'selcorshop:product_list' %}" class="nav-link active bg-success" aria-current="page">Wszystkie</a>
            </li>
            <div class="dropdown">
            {% for c in categories %}
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                <li {% if category.slug == c.slug %} {% endif %}>
                    <a href="{{ c.get_absolute_url }}" class="nav-link text-white">{{ c.name }}</a>
                </li>
            </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for s in subcategories %}
                    <a class="dropdown-item" href="#">
                        <li {% if subcategory.slug == s.slug %} {% endif %}>
                            <a href="{{ s.get_absolute_url }}" class="nav-link text-black">{{ s.name }}</a>
                        </li>
                    </a>
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
        </ul>
<!--    <ul class="nav nav-pills flex-column mb-auto">-->
<!--      <li {% if not category %}class="nav-item" {% endif %}>-->
<!--        <a href="{% url 'selcorshop:product_list' %}" class="nav-link active" aria-current="page">Wszystkie</a>-->
<!--      </li>-->
<!--      {% for c in categories %}-->
<!--      <li {% if category.slug == c.slug %} {% endif %}>-->
<!--        <a href="{{ c.get_absolute_url }}" class="nav-link text-white">{{ c.name }}</a>-->
<!--      </li>-->
<!--      {% endfor %}-->
<!--      </ul>-->
    </div>
</div>

<div id="main" class="product_list col-10">
    <h2>{% if category %}{{ category.name }}{% else %}Produkty{% endif %}</h2>
    {% for product in products %}
        <div class="item">
            <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" alt="Obraz">
            </a>
            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
            {{ product.price }} zł.
        </div>
    {% endfor %}
</div>



</div>

{% endblock %}